# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [2]:
import numpy as np

2. Create a null vector of size 10

In [9]:
arr10 = np.zeros((10))
print("         THIS IS A NULL VECTOR OF SIZE '10'")
print("         ==================================")
arr10

         THIS IS A NULL VECTOR OF SIZE '10'
         ==================================

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

3. Create a vector with values ranging from 10 to 49

In [12]:
arr1 = np.arange(10,50)
print("         THIS IS A VECTOR WITH VALUES RANGING FROM '10' TO '49'")
print("         ======================================================")
arr1

         THIS IS A VECTOR WITH VALUES RANGING FROM '10' TO '49'
         ======================================================

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

4. Find the shape of previous array in question 3

In [255]:
print("THE SHAPE OF THE VECTOR IS:")
print("===========================")
arr1.shape

THE SHAPE OF THE VECTOR IS:
===========================

(2, 3)

5. Print the type of the previous array in question 3

In [254]:
print("TYPE OF THE VECTOR IS:")
print("======================")
type(arr1)

TYPE OF THE VECTOR IS:
======================

numpy.ndarray

6. Print the numpy version and the configuration

In [33]:
print("NUMPY VERSION IS:")
print("=================")
np.__version__

NUMPY VERSION IS:
=================

'1.19.4'

In [34]:
print("NUMPY CONFIGURATION IS:")
print("=======================")
np.show_config()

NUMPY CONFIGURATION IS:
=======================
blas_mkl_info:
  NOT AVAILABLE
blis_info:
  NOT AVAILABLE
openblas_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_info']
    libraries = ['openblas_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
blas_opt_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_info']
    libraries = ['openblas_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
lapack_mkl_info:
  NOT AVAILABLE
openblas_lapack_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_lapack_info']
    libraries = ['openblas_lapack_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
lapack_opt_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_lapack_info']
    libraries = ['openblas_lapack_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]

7. Print the dimension of the array in question 3

In [257]:
print("DIMENSION OF ARRAY IS:")
print("======================")
arr1.ndim

DIMENSION OF ARRAY IS:
======================

2

8. Create a boolean array with all the True values

In [258]:
print("BOOLEAN ARRAY WITH ALL TRUE VALUES:")
print("===================================")
boolean_array = np.ones((1,5),dtype = bool)
boolean_array

BOOLEAN ARRAY WITH ALL TRUE VALUES:
===================================

array([[ True,  True,  True,  True,  True]])

9. Create a two dimensional array

In [3]:
print("TWO DIMENSIONAL ARRAY:")
print("======================")
arr2d = np.array(range(1,5)).reshape(2,2)
arr2d

TWO DIMENSIONAL ARRAY:
======================

array([[1, 2],
       [3, 4]])

10. Create a three dimensional array

In [253]:
print("THREE DIMENSIONAL ARRAY:")
print("========================")
arr3d = np.array(range(1,10)).reshape(3,3)
arr3d

THREE DIMENSIONAL ARRAY:
========================

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [252]:
vector = np.arange(11)
# ORIGINAL ARRAY = [0,1,2,3,4,5,6,7,8,9,10]
print("REVERSED ARRAY:")
print("===============")
vector[::-1]

REVERSED ARRAY:
===============

array([10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0])

12. Create a null vector of size 10 but the fifth value which is 1

In [251]:
null_vector = np.zeros(10)
null_vector[4] = 1
print("NULL VECTOR OF SIZE '10' WITH FIFTH VALUE '5':")
print("==============================================")
null_vector

NULL VECTOR OF SIZE '10' WITH FIFTH VALUE '5':
==============================================

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

13. Create a 3x3 identity matrix

In [250]:
identity_matrix = np.ones((3,3))
print("IDENTITY MATRIX OF SIZE '3x3':")
print("==============================")
identity_matrix

IDENTITY MATRIX OF SIZE '3x3':
==============================

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [249]:
arr = np.array([1, 2, 3, 4, 5],dtype=float)
print("ARRAY AFTER CONVERSION INTO FLOAT:")
print("==================================")
arr

ARRAY AFTER CONVERSION INTO FLOAT:
==================================

array([1., 2., 3., 4., 5.])

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [248]:
arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.],

           [7., 2., 12.]])
print("'arr1' AND 'arr2' AFTER MULTIPLICATION:")
print("=======================================")
arr1 * arr2

'arr1' AND 'arr2' AFTER MULTIPLICATION:
=======================================

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [247]:
arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]]) 
arr2 = np.array([[0., 4., 1.],

            [7., 2., 12.]])
arr3 = (arr1 > arr2)
print("RESULTANT ARRAY:")
print("================")
arr3 = arr3.astype('int64') 
arr3

RESULTANT ARRAY:
================

array([[1, 0, 1],
       [0, 1, 0]], dtype=int64)

17. Extract all odd numbers from arr with values(0-9)

In [246]:
arr = np.array(range(0,10))
print("THE EXTRACTED ODD NUMBERS ARE:")
print("==============================")
odd_num = arr[ arr % 2 != 0]
odd_num

THE EXTRACTED ODD NUMBERS ARE:
==============================

array([1, 3, 5, 7, 9])

18. Replace all odd numbers to -1 from previous array

In [245]:
arr = np.array(range(0,10))
print("THE ARRAY AFTER REPLACING ODD NUMBERS WITH '-1':")
print("================================================")
arr[ arr % 2 != 0] = -1
arr

THE ARRAY AFTER REPLACING ODD NUMBERS WITH '-1':
================================================

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [244]:
arr = np.arange(10)
print("THE ARRAY AFTER REPLACING THE VALUES OF INDEXES 5,6,7,8 TO '12':")
print("================================================================")
arr[5:9] = 12
arr

THE ARRAY AFTER REPLACING THE VALUES OF INDEXES 5,6,7,8 TO '12':
================================================================

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12,  9])

20. Create a 2d array with 1 on the border and 0 inside

In [243]:
pattern = np.ones((5,5))
pattern
pattern[1:-1,1:-1] = 0
print("THIS IS AN 2D ARRAY WITH '1' ON THE BORDERS AND '0' INSIDE:")
print("===========================================================")
pattern

THIS IS AN 2D ARRAY WITH '1' ON THE BORDERS AND '0' INSIDE:
===========================================================

array([[1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1.]])

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [242]:
arr2d = np.array([[1, 2, 3],

            [4, 5, 6], 

            [7, 8, 9]])
print("ARRAY AFTER REPLACING THE VALUE '5' TO '12':")
print("============================================")
arr2d[1][1] = 12
arr2d

ARRAY AFTER REPLACING THE VALUE '5' TO '12':
============================================

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [241]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
print("THE FULL ARRAY AFTER CONVERTING THE ELEMENTS OF FIRST ARRAY TO '64':")
print("====================================================================")
arr3d[0][0] = 64
arr3d

THE FULL ARRAY AFTER CONVERTING THE ELEMENTS OF FIRST ARRAY TO '64':
====================================================================

array([[[64, 64, 64],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [240]:
arr2d = np.array(range(0,10)).reshape(2,5)
arr2d
print("THE FIRST 1D ARRAY AFTER SLICING:")
print("=================================")
arr2d[0]

THE FIRST 1D ARRAY AFTER SLICING:
=================================

array([0, 1, 2, 3, 4])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [239]:
arr2d = np.array(range(0,10)).reshape(2,5)
arr2d
print("THE SECOND VALUE FROM SECOND 1D ARRAY:")
print("======================================")
arr2d[1][1]

THE SECOND VALUE FROM SECOND 1D ARRAY:
======================================

6

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [238]:
arr2d = np.array([[1, 2, 3],

            [4, 5, 6], 

            [7, 8, 9]])
print("THE THIRD COLOUMN WITH ONLY FIRST TWO ROWS:")
print("===========================================")
arr2d[:,2][0:2]

THE THIRD COLOUMN WITH ONLY FIRST TWO ROWS:
===========================================

array([3, 6])

26. Create a 10x10 array with random values and find the minimum and maximum values

In [35]:
arr_rand = np.random.randn(100).reshape(10,10)
print("THIS IS A '10x10' ARRAY WITH RANDOM VALUES:")
print("===========================================")
arr_rand

THIS IS A '10x10' ARRAY WITH RANDOM VALUES:
===========================================

array([[ 0.63167499,  0.49944089,  1.08700023, -0.66312028,  0.61991808,
        -0.03382286,  0.50240676, -0.68699623, -1.35479496,  0.81471804],
       [-0.63429803,  1.35572974,  1.9089386 ,  0.07938783,  0.34249347,
        -2.17768703,  1.76206119,  0.3042126 ,  0.73754098,  0.10432363],
       [ 0.06371314,  0.27330868,  0.82491431, -0.88740936, -1.18522382,
        -0.32196093, -1.25669236, -1.26541132,  1.30219667,  0.31895799],
       [-0.97630123,  0.07865311,  1.48744517,  0.02022711, -1.15535681,
        -0.39981157, -0.49233867,  0.29008668,  0.0881675 , -1.48782254],
       [-0.32845631, -1.33229576,  0.25343628, -0.86349561,  0.52429201,
         1.35332377, -0.66726675, -0.24912999, -0.43695212, -0.91993308],
       [-0.98588709,  0.52143505,  1.57463823, -1.29750861,  0.74279799,
        -0.84897493, -1.34023826,  0.55421608,  0.2826083 ,  0.56006363],
       [ 0.95123342, -0.15814466,  0.93556024, -2.19795511, -0.13887259,
         1.21630239,  0.30309121, -0.97010176, -0.84015708,  0.04216516],
       [-0.70992922, -0.00278395,  0.57294265, -0.20133619, -0.46215373,
        -0.25888288, -0.44469903, -0.61134438, -1.68423184, -1.44848531],
       [-1.26939334,  2.06243563,  1.1495034 , -0.94481704, -0.98943784,
        -0.06037909,  0.91955184,  0.09626413,  2.25889441, -1.39165328],
       [ 0.98717398, -1.24929386, -1.13515904,  0.04988706,  1.68264589,
         0.65172174, -1.12473772,  0.38710478, -0.03672178, -0.11389551]])

In [138]:
print("THE MAXIMUM VALUE IN THE PREVIOUS ARRAY IS:")
print("===========================================")
arr_rand.max()

THE MAXIMUM VALUE IN THE PREVIOUS ARRAY IS:
===========================================

2.941723831981237

In [139]:
print("THE MINIMUM VALUE IN THE PREVIOUS ARRAY IS:")
print("===========================================")
arr_rand.min()

THE MINIMUM VALUE IN THE PREVIOUS ARRAY IS:
===========================================

-1.8770757632055295

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [237]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
print("THESE ARE THE COMMON ELEMENTS BETWEEN 'a' and  'b':")
print("===================================================")
a[a == b]

THESE ARE THE COMMON ELEMENTS BETWEEN 'a' and  'b':
===================================================

array([2, 2, 4, 4])

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [167]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
print("THESE ARE THE POSITIONS WHERE THE ELEMENTS OF 'a' and 'b' MATCH:")
print("================================================================")
np.where(a==b)

THESE ARE THE POSITIONS WHERE THE ELEMENTS OF 'a' and 'b' MATCH:
================================================================

(array([1, 3, 5, 7], dtype=int64),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [36]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
print("THESE ARE ALL THE VALUES FROM THE ARRAY 'data' WHERE THE VALUES FROM ARRAY 'names' ARE NOT EQUAL TO 'Will':")
print("===========================================================================================================")
data[names!='Will']

THESE ARE ALL THE VALUES FROM THE ARRAY 'data' WHERE THE VALUES FROM ARRAY 'names' ARE NOT EQUAL TO 'Will':
===========================================================================================================

array([[-0.64152732,  1.04104101,  0.09530181,  0.10145964],
       [ 0.33148677,  0.98994198, -1.59737021,  0.46972869],
       [ 0.34739026,  0.03407923, -0.21894731, -0.82684301],
       [ 0.07021729, -0.00387583, -0.05828844, -0.24032357],
       [-0.23204833, -0.8204354 ,  0.42214081, -0.14044059]])

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [28]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
mask = (names != 'Will') & (names == 'Joe') 
print("THESE ARE ALL THE VALUES FROM THE ARRAY 'data' WHERE THE VALUES FROM ARRAY 'names' ARE NOT EQUAL TO 'Will' AND 'Joe':")
print("=====================================================================================================================")
data[mask]

THESE ARE ALL THE VALUES FROM THE ARRAY 'data' WHERE THE VALUES FROM ARRAY 'names' ARE NOT EQUAL TO 'Will' AND 'Joe':
=====================================================================================================================

array([[-0.31753133,  1.04283553, -1.2209972 ,  0.88404262],
       [ 0.94630989, -1.01141816,  0.10737417, -0.68216383],
       [-0.75805557, -1.04853063,  0.10206568,  0.4321511 ]])

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [205]:
array = np.random.randint(low=1,high=15,size=(5,3))
print("THIS IS AN 2D ARRAY OF SHAPE '5x3' WITH RANDOM NUMBERS BETWEEN '1' TO '15':")
print("===========================================================================")
array

THIS IS AN 2D ARRAY OF SHAPE '5x3' WITH RANDOM NUMBERS BETWEEN '1' TO '15':
===========================================================================

array([[12, 11,  8],
       [12,  1,  1],
       [ 7,  9, 14],
       [ 8, 12,  7],
       [ 2, 13,  7]])

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [207]:
array3 = np.random.randint(low=1,high=16,size=(2,2,4))
print("THIS IS AN 2D ARRAY OF SHAPE '2,2,4' WITH RANDOM NUMBERS BETWEEN '1' TO '16':")
print("===========================================================================")
array3

THIS IS AN 2D ARRAY OF SHAPE '2,2,4' WITH RANDOM NUMBERS BETWEEN '1' TO '16':
===========================================================================

array([[[ 4,  6, 13,  8],
        [ 7,  5, 12,  5]],

       [[10,  9, 12, 14],
        [ 3, 15, 14, 10]]])

33. Swap axes of the array you created in Question 32

In [231]:
print("SWAPPING THE AXES OF ABOVE ARRAY:")
print("=================================")
np.swapaxes(array3,0,2)

SWAPPING THE AXES OF ABOVE ARRAY:
=================================

array([[[ 4, 10],
        [ 7,  3]],

       [[ 6,  9],
        [ 5, 15]],

       [[13, 12],
        [12, 14]],

       [[ 8, 14],
        [ 5, 10]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [236]:
arr10 = np.array(range(10))
print("THIS IS THE ARRAY AFTER SQUARING:")
print("=================================")
arr10squared = np.sqrt(arr10)
np.where(arr10squared<0.5,0,arr10squared)

THIS IS THE ARRAY AFTER SQUARING:
=================================

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [30]:
arr1 = np.random.randn(12)
arr2 = np.random.randn(12)
maximum = np.maximum(arr1,arr2)
print("THIS IS THE ARRAY WITH THE MAXIMUM VALUES BETWEEN EACH ELEMENT OF THE TWO ARRAYS:")
print("=================================================================================")
maximum

THIS IS THE ARRAY WITH THE MAXIMUM VALUES BETWEEN EACH ELEMENT OF THE TWO ARRAYS:
=================================================================================

array([ 0.96310167, -0.29156602,  0.04852406,  0.02682782,  1.47518195,
        0.86666955, -0.34482492,  2.10345723,  1.60154994,  1.01818773,
       -0.53525779, -0.09149853])

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [235]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
print("THESE ARE THE UNIQUE NAMES AFTER SORTING:")
print("=========================================")
unique = np.unique(names)
unique

THESE ARE THE UNIQUE NAMES AFTER SORTING:
=========================================

array(['Bob', 'Joe', 'Will'], dtype='<U4')

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [16]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
result = np.setdiff1d(a, b)
print("THIS ARRAY 'a' AFTER REMOVING ALL THE ELEMENTS PRESENT IN ARRAY 'b':")
print("====================================================================")
result

THIS ARRAY 'a' AFTER REMOVING ALL THE ELEMENTS PRESENT IN ARRAY 'b':
====================================================================

array([1, 2, 3, 4])

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [232]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
sampleArray[1:-1]
# sampleArray[1]
sampleArray[:,1][:] = [10,10,10]
print("THIS IS THE ARRAY AFTER CHANGING THE COLOUMN TWO:")
print("=================================================")
sampleArray

THIS IS THE ARRAY AFTER CHANGING THE COLOUMN TWO:
=================================================

array([[34, 10, 73],
       [82, 10, 12],
       [53, 10, 66]])

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [233]:
x = np.array([[1., 2., 3.], [4., 5., 6.]]) 
y = np.array([[6., 23.], [-1, 7], [8, 9]])
print("DOT PRODUCT OF MATRIX 'x' AND 'y':")
print("==================================")
np.dot(x,y)

DOT PRODUCT OF MATRIX 'x' AND 'y':
==================================

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [234]:
matrix = np.random.randn(20)
commulative_sum = matrix.cumsum()
print("COMMULATIVE SUM OF THE MATRIX:")
print("==============================")
commulative_sum

COMMULATIVE SUM OF THE MATRIX:
==============================

array([-1.23781848, -0.39671391,  1.24491836,  0.664885  ,  0.59894649,
       -1.17418235,  0.20297133, -0.95659643, -1.3612812 , -0.2990565 ,
        0.35906606,  0.82784343, -1.24671813, -3.18694336, -2.40735287,
       -1.85910665, -1.06731036,  0.70826548,  1.00974087,  1.07742111])